Health Chatbot (Tele)/health_chatbot.json
{
  "name": "Health Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        -64
      ],
      "id": "8874f837-8d8a-430f-8e66-83db0826bca5",
      "name": "Telegram Trigger",
      "webhookId": "6acc133f-258c-410b-91f7-687bfef1cde9",
      "credentials": {
        "telegramApi": {
          "id": "slqE7vMEF4k61lPO",
          "name": "SK_Prop_Ass"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Always use the tools with the AI agent to check for meals.\n{{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a health meal tracking assistant. Your responsibilities include logging, viewing, editing, and deleting meals for the user.\nBased on the received message, identify what the user wants and act on it immediately using the available tools.\nDO NOT OUPUT unnecessary text, only with follow-ups and cofirmations\n---\n\n## Meal Management Tools\n\n- Use \"create_meal\" to log a new meal. Required fields: meal, meal_type.\n- Use \"get_meals\" to fetch the user's logged meals. Always call this first before editing or deleting.\n- Use \"update_meal\" to edit a logged meal. You must call \"get_meals\" first to get the id of the meal to update.\n- Use \"delete_meal\" to remove a logged meal. You must call \"get_meals\" first to get the id of the meal to delete.\n\n---\n\n## Field Rules\n\n- meal → preserve exactly what the user says. If multiple items, comma-separate them (e.g. \"rice, dal, roti\")\n- meal_type → normalize to lowercase: breakfast / lunch / dinner / snack, etc\n- date → always use today's date from {{ $now }} unless the user specifies otherwise\n- user_id → always pass the user's ID from context into every tool call\n\n---\n\n## Behavior Rules\n\n- If meal or meal_type is missing, ask for only the missing field — then call the tool immediately once you have it.\n- Do not ask for confirmation before calling a tool. Act on the user's input directly.\n- Never fabricate tool results. Only use what the tool actually returns.\n- Never ask for something the user has already provided.\n\n---\n\n## Response Format\n\nAfter create_meal (no extra text and don't use get_meals in this case):\n✅ Logged!\n- Meal: {meal}\n- Type: {meal_type}\n- Date: {date}\n\nAfter get_meals (if results exist and sort them in ascending of the meal occurance as in part of day):\n🍽 Here's what you've logged:\n\n({date})\n1. {meal_type}: {meal}\n2. ...\n\n({date})\n...\n...\n\n\nAfter get_meals (if empty):\nYou haven't logged any meals yet. Want to add one?\n\nAfter update_meal:\n✏️ Updated!\n- Meal: {meal}\n- Type: {meal_type}\n- Date: {date}\n\nAfter delete_meal:\n🗑 Deleted successfully.\n\n---\n\n## Current Date and Time\n{{ $now }}\nAlways use this for the date field when logging or filtering meals.\n\n---\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        -80
      ],
      "id": "61f7f998-32b6-4ece-b8ae-1d10edfde5a4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "701dee74-9e18-4aaa-a35b-2c194773fd46"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Only"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -720,
        -64
      ],
      "id": "943d07d1-52c8-48fd-846b-c4824134915a",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Dear user, kindly provide the details in the text format only!!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -512,
        192
      ],
      "id": "78be8158-1fbf-49da-93d2-7260d09ef325",
      "name": "Send a text message",
      "webhookId": "c7b21e55-fd09-48d9-b39f-e457e5d993fc",
      "credentials": {
        "telegramApi": {
          "id": "slqE7vMEF4k61lPO",
          "name": "SK_Prop_Ass"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -288,
        160
      ],
      "id": "3270ddd0-2c55-4862-8695-95c14c176447",
      "name": "Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fl6sxvn5M1m7Za9O",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -160,
        160
      ],
      "id": "836affee-0f10-4a20-92b4-faabbec7b966",
      "name": "Chat Memory",
      "credentials": {
        "postgres": {
          "id": "aA0h7epgK8WeNgur",
          "name": "SK Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f3883cd-55bd-4b12-a750-a460ba33f288",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -80
      ],
      "id": "dc9bd80f-20cf-4456-a5b6-e8f796b68c4e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a row in Supabase.",
        "tableId": "meals",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "fieldId": "meal",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `This is the meal entered by the user cannot be null.`, 'string') }}"
            },
            {
              "fieldId": "meal_type",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `Type of meal as claimed by the user cannot be null.`, 'string') }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', `If not mentioned set it to today's date.`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -32,
        160
      ],
      "id": "191793a9-824d-4522-a538-3f7b5c105ca4",
      "name": "create_meals",
      "credentials": {
        "supabaseApi": {
          "id": "cACZflxgLpoSIvto",
          "name": "SK Account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get many rows in Supabase based on interpreted date, meal or meal_type",
        "operation": "getAll",
        "tableId": "meals",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "keyName": "date",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Field_Value', `Set it to the dates asked by the user`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        96,
        160
      ],
      "id": "5d8bc684-09ba-43f1-8458-2b2d78e664c5",
      "name": "get_meals",
      "credentials": {
        "supabaseApi": {
          "id": "cACZflxgLpoSIvto",
          "name": "SK Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "meals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', `Get the ID of that particular meal entry that is to be updated.`, 'string') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "meal",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `Update the meal as specified by the user else keep it same as before.`, 'string') }}"
            },
            {
              "fieldId": "meal_type",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `Update the meal_type as specified by the user else keep it same as before.`, 'string') }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `Update the date as specified by the user else keep it same as before.`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        224,
        160
      ],
      "id": "6348bb92-d77e-4095-8e76-e089c06005ac",
      "name": "update_meal",
      "credentials": {
        "supabaseApi": {
          "id": "cACZflxgLpoSIvto",
          "name": "SK Account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Delete a row in Supabase by first getting that particular row information via get_meals tool and then with the received filed values delete that particular row.",
        "operation": "delete",
        "tableId": "meals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', `Get the ID of the required meal to be deleted.`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        352,
        160
      ],
      "id": "d0a133e9-1318-48a6-b568-eace8c0fbfd4",
      "name": "delete_meal",
      "credentials": {
        "supabaseApi": {
          "id": "cACZflxgLpoSIvto",
          "name": "SK Account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -80
      ],
      "id": "19eb55a1-ef44-4a7c-a0e8-a506ca699865",
      "name": "Send a text message1",
      "webhookId": "c7b21e55-fd09-48d9-b39f-e457e5d993fc",
      "credentials": {
        "telegramApi": {
          "id": "slqE7vMEF4k61lPO",
          "name": "SK_Prop_Ass"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_meals": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_meals": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_meal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete_meal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "49065cb3-f29d-4a9a-9eb5-0895521f0dbb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00e2d86f18476fa48a0bbe70e4f34123227f25798f2099883f45d509f13b7aa9"
  },
  "id": "HwV72w9HqZLUbj7x",
  "tags": []
}